<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p> Settings Page</p>
</ion-content>
