<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>CDs</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let cd of cds; let id = index"
            (click)="GotoCd(id)"
            [color]="cd.isLend ? 'danger' : 'light'">{{cd.name}}</button>
  </ion-list>
</ion-content>
