<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <p>ID Book : {{cd.id}}</p>
      <p>Name Book : {{cd.name}}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid padding>
    <ion-row>
      <ion-col>
        <Button ion-button full color="secondary" (click)="LendClick()" [disabled]="cd.isLend">Preter</Button>
      </ion-col>
      <ion-col>
        <Button ion-button full color="danger" (click)="LendClick()" [disabled]="!cd.isLend">Rendre</Button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
