<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item icon-start (click)="onNavigate(tabsPage)">
        <ion-icon name="power"></ion-icon>
        Tabs
      </button>
      <button ion-item icon-start (click)="onNavigate(settingsPage)">
        <ion-icon name="options"></ion-icon>
        Settings
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>
