<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Books</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let book of books; let id=index"
            (click)="GotoBook(id)"
        [color]="book.isLend ? 'danger' : 'light'">
      {{book.name}}
    </button>
  </ion-list>
</ion-content>
